**.DS_Store

bin/ScriptManager-v0.15-*.jar

data/BAM/*.bam*
data/BAM/NormalizationFactors/*.out
data/BAM/NormalizationFactors/*_scaling-ccr.count
data/BAM/NormalizationFactors/*_scaling-marginal.count
data/BAM/FragmentDistributions/*_InsertHistogram.out
data/BAM/FragmentDistributions/*_InsertSummary.out
data/BAM/FragmentDistributions/*_PE.png
data/hg38_files/hg38.fa*
data/hg38_files/hg38.fa.fai
data/RefPT-Krebs/BNase-Nucleosomes.bed
data/sample-BAM/*.bam*
data/sample-MEME/*.txt

02_Call_RefPT/FIMO
02_Call_RefPT/temp-*

X_Bulk_Processing/Library

