**.DS_Store

bin/ScriptManager-v0.14-*.jar

data/BAM/*.bam*
data/BAM/NormalizationFactors/*.out
data/BAM/NormalizationFactors/*_scaling-ccr.count
data/BAM/NormalizationFactors/*_scaling-marginal.count
data/BAM/FragmentDistributions/*_InsertHistogram.out
data/BAM/FragmentDistributions/*_InsertSummary.out
data/BAM/FragmentDistributions/*_PE.png
data/hg19_files/hg19.fa
data/hg19_files/hg19.fa.amb
data/hg19_files/hg19.fa.ann
data/hg19_files/hg19.fa.fai
data/RefPT-Other/1bp/hg19_K562_Nucleosome_1bp_SORT-genomic_nostrand.bed.gz
data/RefPT-Other/K562_nuc_uHex_uTetra.bed.gz
data/sample-BAM/*.bam*
data/sample-MEME/*.txt

02_Call_RefPT/PWM/*.meme.txt
02_Call_RefPT/FIMO/*/best_site.narrowPeak
02_Call_RefPT/FIMO/*/cisml.xml
02_Call_RefPT/FIMO/*/fimo.gff
02_Call_RefPT/FIMO/*/fimo.html
02_Call_RefPT/FIMO/*/fimo.tsv
02_Call_RefPT/FIMO/*/fimo.xml
02_Call_RefPT/FIMO/*/fimo.*.motif1.unsorted.noproximity.unfiltered.gff
02_Call_RefPT/FIMO/*/FOURCOLOR_50bp.png
02_Call_RefPT/FIMO/*/*_MOTIF1_sorted.bed
02_Call_RefPT/FIMO/*/*_MOTIF1_sorted.cdt
02_Call_RefPT/FIMO/*/*_MOTIF1_sorted.png
02_Call_RefPT/FIMO/*/*_MOTIF1_unsorted.bed
02_Call_RefPT/FIMO/*/*_MOTIF1_unsorted_100bp.bed
02_Call_RefPT/FIMO/*/*_MOTIF1_unsorted*combined.cdt
02_Call_RefPT/FIMO/*/InflectionFilter/*_MOTIF1_sorted_SCORES.out
02_Call_RefPT/FIMO/*/InflectionFilter/*_MOTIF1_sorted_SCORES_Filter-*.out
02_Call_RefPT/FIMO/*/InflectionFilter/*_MOTIF1_sorted_SCORES_inflectionPT.png
02_Call_RefPT/FIMO/*/InflectionFilter/*_MOTIF1_sorted_Threshold.txt

Library
Z_Figures/S_InsertSizePlots/*_InsertHistogram.png
Z_Figures/XOvBX/CDT/*.cdt
Z_Figures/XOvBX/Composite/*.txt
Z_Figures/XOvBX/PNG/*.png
Z_Figures/XOvBX/SVG/*.svg
Z_Figures/XOvBX/*.txt
Z_Figures/Logos/*.eps